.App {
  flex: true;
  width: 100%;
}
.header {
  background-color: white;
  color: #1e1b18;
  font-family: "Sarabun", sans-serif;
  text-align: center;
  font-size: medium;
  font-weight: bold;
}

.wordsearch {
  text-align: center;
  display: flex;
  align-items: center;
}

.container {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.upload {
  padding: 10px;
}

.buttonUpload {
  background-color: #3e92cc;
  color: #fffaff;
  padding: 5px 13px;
  border-style: hidden;
  cursor: pointer;
  border-radius: 20px;
  font-family: "Sarabun", sans-serif;
  font-size: 15px;
  font-weight: 500;
  transition-duration: 0.1s;
}
.buttonUpload:hover {
  background-color: #113ea7;
}
.buttonSolve {
  background-color: #d8315b;
  color: #fffaff;
  padding: 5px 13px;
  border-style: hidden;
  cursor: pointer;
  border-radius: 20px;
  font-family: "Sarabun", sans-serif;
  font-size: 20px;
  font-weight: 500;
  margin-top: 20px;
  margin-bottom: 20px;
  transition-duration: 0.1s;
}
.buttonSolve:hover {
  background-color: #ab2143;
}
.board {
  padding: 15px;
  width: fit-content;
  height: fit-content;
  display: grid;
}

.row {
  display: flex;
  justify-content: space-between;
}

.cell {
  font-size: 50px;
  height: 50px;
  width: 50px;
  padding: 10px;
}

.wordBank {
  margin-left: 50px;
  background-color: beige;
  border-radius: 20px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
}

.wordHeader {
  font-size: 25px;
  font-family: "Sarabun", sans-serif;
  background-color: #1e1b18;
  color: #fffaff;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  padding: 15px;
  gap: 10px;
  display: flex;
  align-content: stretch;
}

.wordRow {
  font-family: "Sarabun", sans-serif;
  font-size: 25px;
  padding: 10px;
  display: flex;
  justify-content: space-around;
}
